<html>

<div class="header">
  <div class="media">
    <div class="media-top">
      <img src="../assets/favicon.png" class="media-object" style="width:200px">
    </div>
    <div class="media-body mt-4">
      <h4>Smol GanbaWooby</h4>
      <p>Is there any difference?</p>
    </div>
  </div>
</div>

<div class="container mb-4">
  <a href='#'class='playBut' (click)="playAudio()">

    <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In  -->
    <svg version="1.1"
        x="0px" y="0px" width="213.7px" height="213.7px" viewBox="0 0 213.7 213.7" enable-background="new 0 0 213.7 213.7"
        xml:space="preserve">

    <polygon class='triangle' id="XMLID_18_" fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
        73.5,62.5 148.5,105.8 73.5,149.1 "/>
      
    <circle class='circle' id="XMLID_17_" fill="none"  stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3"/>
    </svg>

  </a>

  <h4 class="mt-2">Loop</h4>
  <label class="switch switch-type" role="switch">
    <input type="checkbox" class="switch-toggle" (click)="loop()">
    <span class="switch-label"></span>
  </label>

</div>

<div class="container">
  <a href="https://github.com/Shukashuu/Smol-GanbaWooby"><div class="btn btn-dark">Github</div></a>
  <a href="https://aozoraemotion.kirara.ca/va2/1da657f.mp3"><div class="btn btn-dark">Download MP3</div></a>
</div>
